/* Violet Gonzalez, assignment 6.3 */

body {
    font-family: 'Space Mono', serif;
    background-image: url('images/sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

#main-image {
    max-width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}

.image img {
    margin-top: 5%;
    width: 400px;
    height: 350px;
}

#picture-gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 5%;
}

.picture h3 {
    text-align: center;
    font-weight: 300;
    color: white
}

.picture figure {
    margin-bottom: 5%;
    text-align: center;
    color: #81909B;
}

.picture img {
    width: 400px;
    height: 350px;
}

.about-me-image img {
    max-width: 50%;
    max-height: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.about-me-image figcaption {
    text-align: center;
    color: white;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

h1 {
    color: #49145E;
    text-align: center;
    margin-top: 10%;
    margin: auto;
    padding-top: 5%;
}

h2, h4 {
    color: #49145E;
}

footer {
    margin-top: 2%;
    text-align: center;
}

a {
    color: #013E62;
    text-decoration: none;
}

a:hover {
    color: #7F888D;
}

a:visited {
    color: #5E7A89
}

.planet-button {
    position: fixed;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
    font-weight: bold;
}

.planet-button a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.about-me a {
    text-decoration: none;
    font-weight: bold;
}

.about-me {
    text-align: center;
    background-color: #FFA500; 
    top: 20px;
    left: 20px;
}

.hobbies {
    text-align: center;
    background-color: #C0C0C0;
    bottom: 140px;
    right: 20px;
}

.hobbies a {
    text-decoration: none;
    font-weight: bold;
}

.home a {
    text-decoration: none;
    font-weight: bold;
}

.home {
    text-align: center;
    background-color: rgb(4, 27, 4);
    top: 20px;
    left: 20px;
}